:root {
  --bg-color-1: hsl(200, 10%, 95%);
  --bg-color-2: hsl(200, 15%, 85%);
  --text-color: #111111;

  --primary: rgb(217, 125, 85);
  --secondary: rgb(244, 233, 215);
  --accent: rgb(184, 196, 169);
  --warning: rgb(111, 164, 175);
  --text-dark: rgb(51, 51, 51);
  --text-light: rgb(255, 255, 255);
}
